// Breakpoints
$bp-xsmall: 10em; // 160px
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-xsmall: "(max-width: #{$bp-small})";
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";

// Font-Size
$base-font-size: 1em;

// Line-Height
$base-line-height: 1;

// Colors
$white: #ffffff;
$black: #000000;
$card-running-time-color: #1E212A;
$card-background-color: #2B2F3B;
$card-border-color: #464B5E;
