@import "styles/_variables.scss";

@mixin calcDimmensions($ratio, $width) {
  width: $width;
  height: calc(#{$width / $ratio});
}
@mixin cardItemDimmensions($width) {
  $ratio: calc(354 / 329);
  @include calcDimmensions($ratio, $width);
}

@mixin previewImageDimmensions($width) {
  $ratio: calc(354 / 200);
  @include calcDimmensions($ratio, $width);
}

.card-item {
  @include cardItemDimmensions(22em);
  text-transform: uppercase;
  letter-spacing: 0;
  background: $card-background-color;
  border: calc(1em/8) solid $card-border-color;
  display: flex;
  margin: 0.5em;
  flex-direction: column;

  @media #{$mq-xsmall} {
    @include cardItemDimmensions(18em);
  }

  @media #{$mq-small} {
    @include cardItemDimmensions(20em);
  }

  a {
    color: $white;
    text-decoration: none;
  }

  .title-container {
    font-size: 1.44em;
    padding: 0.9em 1.2em 0.9em 0.8em;
  }

  .title-container a:hover {
      text-decoration: underline;
  }

  .image-container {
    @include previewImageDimmensions(22em);
    background-size: cover;
    background-repeat: no-repeat;

    @media #{$mq-xsmall} {
      @include previewImageDimmensions(18em);
    }

    @media #{$mq-small} {
      @include previewImageDimmensions(20em);
    }
  }

  .running-time {
    margin-top: calc(-1em - calc(1em/1.5));
    font-weight: 400;
    padding: calc(1em/3);
    text-align: start;
    display: flex;
    background: $white;
    color: $card-running-time-color;
    width: fit-content;

    .icon {
        color: $black;
      width: $base-font-size*0.95;
      margin: 0 0.2em 0 0;
    }
  }
}
